{% extends "admin/base.html" %}
{% block content %}
<h1>Analytics</h1>
<table>
    <thead>
        <tr>
            <th>Ad ID</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>CTR %</th>
        </tr>
    </thead>
    <tbody>
        {% for ad_id, data in ctr.items() %}
        <tr>
            <td>{{ ad_id }}</td>
            <td>{{ data.impressions }}</td>
            <td>{{ data.clicks }}</td>
            <td>{{ '%.2f'|format(data.ctr * 100) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
