(function () {
  const zones = [
    "363fe61789ea411afa3a518e263921d3", // 728x90
    "667cbfaa4276c3a1a5297a14a6a72a4c", // 468x60
    "0b1c3d2651ee6075ac8ece211622ff34", // 300x250
    "f3c69ff1bb6955e67ecabdf7aea461cb", // 160x600
    "8666fede885322207af096e33f9cf8d5", // 160x300
    "071342321d1d152325291bc8945d1a86"  // 320x50
  ];

  const selected = zones[Math.floor(Math.random() * zones.length)];

  const script = document.createElement("script");
  script.type = "text/javascript";
  script.src = `https://www.highperformanceformat.com/${selected}/invoke.js`;
  script.async = true;

  document.currentScript.parentElement.appendChild(script);
})();
